<div class="bar_list">
  <h1 class="listTitle">List of Bars</h1>
</div>
  <% @bars.each do |bar| %>
  <div class="add_link">
    <%= link_to bar.name, bar_path(bar)  %>
  </div>
  <% end %>
<div class="add_bar_center">
   <%= link_to '- Add Bar -', new_bar_path %>
</div>
