<div class="body">
  <h1>List of Bars</h1>
</div>
<ul>
  <% @bars.each do |bar| %>
  <div class="callout secondary">
    <li> <%= link_to bar.name, bar_path(bar)  %></li>
  </div>
  <% end %>
</ul>
<div>
   <%= link_to 'Add Bar', new_bar_path %>
</div>
