<div class="bar_list">
  <h1>List of Bars</h1>
</div>
  <% @bars.each do |bar| %>
  <div class="callout secondary">
    <%= link_to bar.name, bar_path(bar)  %>
  </div>
  <% end %>
<div>
   <%= link_to 'Add Bar', new_bar_path %>
</div>
