// @import "*";
.body{
  padding-left: 20px;
}

li{
  list-style: none;
}

.address{
  float: right;
}

.new_bar{
  padding-left: 20px;
  margin-right: 400px;
}

.nav_element{
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

#sign_out{
  margin-left: 27px;
}

h1{
  text-align: center;
}

.profile_name{
  text-align: left;
  margin-left: 20px;
}
