@import "colors";
@import "review_form";
@import "bar_page";

.background {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  opacity: 0.8;
}

.container {
  margin: 0 auto;
  width: 800px;
  padding-top: 15px;
  height: 100%;
  background-color: rgba(128,128,128, 0.5);
}

.top-bar {
  height: 80px;
  border-bottom: 1px solid grey;
}


.nav_element {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

#sign_out {
  margin-left: 27px;
}

.listTitle {
  font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype";
  text-align: center;
  color: black;
}

.top_nav {
  font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype";
  font-size: 110%;
  text-align: right;
}

.search_bar {
  float: right;
  margin-right: -5px;
}

#q {
  padding: 0;
  height: 25px;
}

.section.top_nav {
  right: 10px;
}

.raisetitle {
  float: left;
  font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype";
  font-size: 300%;
}

.submitbutton {
  font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype";
  margin-left: 10px;
}

.add_bar_center {
  text-align: center;
  font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype";
  font-size: 120%;
}

.add_link {
  text-align: center;
  font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype";
  font-size: 145%;
}

.profile_photo {
  width: 100px;
  border-radius: 15px;
  float: left;
}

.profile_name {
  float: left;
  padding-left: 10px;
}

.edit {
  float: right;
}

a {
  color: $font-color;
}
