@import "colors";

.body {
  padding-left: 20px;
}

li {
  list-style: none;
}

.address {
  float: right;
}

.top-bar {
  height: 100px;
  border-bottom: solid;
  border-width: thin;
  border-bottom-color: $top-bar;
}

.new_bar {
  padding-left: 20px;
  margin-right: 400px;
}

.nav_element {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

#sign_out {
  margin-left: 27px;
}

.listTitle {
  font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype";
  text-align: center;
}

.profile_name {
  text-align: left;
  margin-left: 20px;
}

.top_nav {
  font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype";
  font-size: 110%;
  text-align: right;
}

.search_bar {
  float: right;
}

#q {
  padding: 0;
}

#q.search1 {
  height: 25px;
}

.section.top_nav {
  right: 10px;
}

.raisetitle {
  float: left;
  font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype";
  font-size: 300%;
}

.submitbutton {
  font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype";
  margin-left: 10px;
}

.add_bar_center {
  text-align: center;
  font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype";
  font-size: 120%;
}

.add_link {
  text-align: center;
  font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype";
  font-size: 145%;
}

.rating {
  float: left;
  width: 300px;
}

.form_container {
  float: right;
  position: relative;
}

span input {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
}

span label {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  color: $span-color;
  background: $span-background;
  font-size: 30px;
  margin-right: 2px;
  line-height: 30px;
  border-radius: 50%;
}

span:hover ~ span label,
span:hover label,
span.checked label,
span.checked ~ span label {
  background: $checked-background;
  color: $checked-color;
}
