
.bar_title {
  width: 600px;
  margin: 0;
}

.header {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.header-buttons {
  padding-top: 10px;
  float: right;
}

.block {
  width: 50%;
  float: left;
}
.review-form {
  padding-left: 10px;
  width: 50%;
  float: left;
}

.review-title {
  color: blue;
}

.reviews {
  float: left;
  width: 100%;
  padding: 10px;
  background-color: rgba(255,255,255, 0.5);
}

.vote-container {
  float: left;
  padding-right: 10px;
  border-right: 1px solid grey;
}

.review-body {
  float:left;
  padding-left: 10px;
}

.individual-review {
  float: left;
}

.dolla-signs {
  padding-left: 10px;
}

.posted {
  padding-left: 10px;
}

.address {
  padding-top: 20px;
}
