.username {
  margin-left: 125px;
}

.my-bars {
  width: 50%;
  float: left;
}

.my-reviews {
  width: 50%;
  float: left;
}

h5 {
  text-decoration: underline;
}

.body-container {
  padding-top: 20px;
}
