<div class="admin_list">
  <h1 class="listTitle"> List of Users</h1>
  </div>
    <ul class="member">
      <% @users.each do |user| %>
        <li>
          <%= user.username %>
          <%= link_to "Delete", "members/#{user.id}", method: :delete, data: { confirm: 'Are you sure?' }, class: "button", id: "member-delete" %>
        </li>
      <% end %>
    </ul>
  </div>
